

<div class="login_page" *ngIf="!loggedIn" >
  <div class="d-flex align-items-center  ">
      <div class="congratulation_container">
          <div class="login-container">
              <section class="login-content">
                  <form [formGroup]="loginForm"  >
                      <h1>
                          <img src="../../assets/img/logo.png" width="75" height="75" class="logo" alt="Logo" />
                      </h1>
                      <div>
                          <input type="text" placeholder="Email" required="" id="username" formControlName="email"  />
                      </div>
                      <div class="error" *ngIf="loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                          <p *ngIf="loginForm.controls['email'].errors.required"> Email is required</p>
                          <p *ngIf="loginForm.controls['email'].errors.pattern">Please enter valid email</p>
                      </div>
                      <div>
                          <input type="password" placeholder="Password" required="" id="password" formControlName="password" 
                          />
                      </div>
                      <div style="text-align:center" class="error" *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                          <p *ngIf="loginForm.controls['password'].errors.required"> password is required</p>
                          <p *ngIf="loginForm.controls['password'].errors.maxlength || loginForm.controls['password'].errors.minlength">Password should be between 8-16 character long</p>
                      </div>
                      <div>
                          <input class="btn btn-blue btn-change1" type="submit" (click)="login()" value="Log in" [disabled]="!loginForm.valid"  />
                          <a href="#">Lost your password?</a>
                          <!-- <a href="#">Register</a> -->
                      </div>
                  </form>
              </section>
          </div>
      </div>
  </div>
</div>


