<div class="light_grey_section page_controller">
    <div class="container">
      <div class="top_head_sec">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h4>Welcome, Alex Banaga!</h4>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <a class="text-uppercase apply-btn" (click)="applyPreQualification()">+ Apply for prequalification</a>
          </div>
        </div>
      </div>
      <div class="globel_box box_shadow pay_details">
        <ul class="pay_list">
          <li>
            <figure>
              <img src="../../assets/img/wallate-icon.png" alt="WallateIcon" />
            </figure>
            <div class="pay_txt">
              <h5>Vessel Name</h5>
              <h4>Axetotl</h4>
            </div>
          </li>
          <li>
            <figure>
              <img src="../../assets/img/money-icon.png" alt="WallateIcon" />
            </figure>
            <div class="pay_txt">
              <h5>Next Payment</h5>
              <h4>$50,000</h4>
            </div>
          </li>
          <li>
            <figure>
              <img src="../../assets/img/calendar-icon.png" alt="WallateIcon" />
            </figure>
            <div class="pay_txt">
              <h5>Due Date</h5>
              <h4>May 11th 2017</h4>
            </div>
          </li>
        </ul>
      </div>
      <div class="box_shadow table_details">
        <div class="tbl_heading">Loans</div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Vessel Name</th>
                <th>Loan Outstanding</th>
                <th>Maturity State</th>
                <th>Type</th>
                <th>Rate</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Axeloti</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>9 %</td>
                <td>Current</td>
              </tr>
              <tr>
                <td>Jag</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>9 %</td>
                <td>Current</td>
              </tr>
              <tr>
                <td>Pankhi</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>9 %</td>
                <td>Current</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box_shadow table_details">
        <div class="tbl_heading">Applications</div>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Vessel Name</th>
                <th>Loan Amount</th>
                <th>Application Date</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Axeloti</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>Current</td>
              </tr>
              <tr>
                <td>Jag</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>Current</td>
              </tr>
              <tr>
                <td>Pankhi</td>
                <td>$ 2,000,000</td>
                <td>Feb 9, 2020</td>
                <td>First Lien</td>
                <td>Current</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  